{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-template-literals"
  ],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 2,
      "targets": {
        "chrome": "58",
        "ie": "11"
      }
    }],
    "@babel/preset-react"
  ]
}
